# GitHub / git archive 下载包只保留 Daedalus Bridge 插件主体。
.godot/** export-ignore
.vscode/** export-ignore
android/** export-ignore
scenes/** export-ignore
scripts/** export-ignore
tools/** export-ignore

addons/godot_gif/** export-ignore
addons/godot_jieba/** export-ignore
addons/markdown_label/** export-ignore

.editorconfig export-ignore
.gitignore export-ignore
default_bus_layout.tres export-ignore
export_presets.cfg export-ignore
FMODExample.csproj export-ignore
FMODExample.sln export-ignore
icon.png export-ignore
icon.png.import export-ignore
project.godot export-ignore

*.log export-ignore
*.tmp export-ignore
